:root {
    --primary: #faf0e4;
    --bg: #f1e4e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    color: black;
}


/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: #faf0e4;
    border-bottom: 1px solid #1a1918;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #241713;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: #e6b345;
}

.navbar .navbar-nav a {
    color: #1c1412;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #e6b345;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ddc89a;
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

#hamburger-menu {
    display: none;
}




.container {
    text-align: center;
}

.header {
    padding-top: 90px;
    color: #bb6e4e;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 38px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: space-evenly;
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.teams:hover {
    background: #ddd;
    border-radius: 12px;
}

.teams img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 0px;
}

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    background-color: #edbec9;
    background-clip: padding-box;
    text-transform: uppercase;
}

.desig {
    font-style: italic;
    font-size: 20px;
    color: black;
    background-color: #edbec9;
    background-clip: padding-box;
}

/*----------------------------------------------------------------- 
Style Section - Footer (Global)
---------------------------------------------------------------- */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edbec9;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    height: 100px;
}

.socialicons a {
    font-size: medium;
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
    background-color: #edbec9;
}

.socialicons a:hover {
    background-color: #edbec9;
    transition: 0.5s;
}

.socialicons a:hover {
    color: #fff;
    transition: 0.5s;
}

.footerBottom {
    background-color: #edbec9;
    padding: 0;
    text-align: center;
    border-top: 2px solid black;
}

.copyright {
    margin: 0;
    text-decoration: none;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .copyright {
        padding-bottom: 10px;
    }
}


/*Mediaa Queries*/

/*Laptop*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/*Tablet*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
        color: #e6b345;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #171515e9;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: #7c6e50;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    /*mobile phone*/
    @media (max-width: 450px) {
        html {
            font-size: 55%;
        }
    }

    @media screen and (max-width: 600px) {
        .teams {
            max-width: 100%;
        }

    }
}