@import url();

:root {
    --primary: #faf0e4;
    --bg: #f1e4e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg);

    color: #e1c6c6;

}


/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: #faf0e4;
    border-bottom: 1px solid #1a1918;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #241713;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: #e6b345;
}

.navbar .navbar-nav a {
    color: #1c1412;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #e6b345;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ddc89a;
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

#hamburger-menu {
    display: none;
}


/*table*/
h2 {
    text-align: center;
    margin-top: 8rem;
    color: #1c1412;
    font-size: large;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3.3rem;
}

th,
td {
    border: 1px solid #262323;
    padding: 10px;
    text-align: left;
    color: #241713;
}

th {
    background-color: #ebe1e1;
}

/*Laptop*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }


}

/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
        color: #e6b345;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #171515e9;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
        color: #e6b345;
    }

    .navbar .navbar-nav a {
        color: #7c6e50;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
}

/* Search Bar */
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background: #f2f4f6;
}
.search-container {
    max-width: 600px;
    margin: 50px auto;
}
input[type="text"] {
    display: block;
    width: calc(100% - 24px); /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
    font-size: 18px;
    font-weight: 600;
    color: #262323;
    padding: 10px;
    border: 2px solid #ebe1e1;