@import url();

:root {
    --primary: #faf0e4;
    --bg: #f1e4e4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg);

    color: #e1c6c6;

}


/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: #faf0e4;
    border-bottom: 1px solid #1a1918;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #241713;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: #e6b345;
}

.navbar .navbar-nav a {
    color: #1c1412;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: #e6b345;
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #ddc89a;
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

#hamburger-menu {
    display: none;
}

/*Buat slide nya*/

.slides {
    width: 100%;
    position: relative;
}

.slides .slide {
    display: none;
}

.slides .slide img {
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
    margin-top: 5.4rem;
    height: 100%;
}

.slides .navigation {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slides .navigation .prev,
.slides .navigation .next {
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    user-select: none;
    transition: 0.6s ease;
}

.slides .navigation .prev:hover,
.slides .navigation .next:hover {
    background: rgba(0, 0, 0, 1);
}

@keyframes fade {
    from {
        opacity: 0.3
    }

    to {
        opacity: 1
    }
}

.hero .content {
    text-align: center;

}

.hero .content .cta {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    color: #e7f6f6;
    background-color: #af9898;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.5);
}

/*Laptop*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 18px;
        padding: 13px;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
        color: #e6b345;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #171515e9;
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
        color: #e6b345;
    }

    .navbar .navbar-nav a {
        color: #7c6e50;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .slides .navigation {
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 100%;
        size: 0cap;
    }

    .slides .navigation .prev,
    .slides .navigation .next {
        font-size: 12px;
        padding: 7px;
    }


}